*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Open Sans";
}

/**Boot CSS**/

html,body{
    height: 100%;
}

input{
    border: 0;
}

img{
    width: 100%;
    max-width:  400px;
}

.center{
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

.w50{
    width: 50%;
    padding: 0 10px;
}

.clear{
    clear: both;
}

.left{
    float: left ;
}

.right{
    float : right ;
}

.w33{
    width: 33.3%;
    padding: 0 10px;

}

/**Estilização do site**/

header{
    background-color: #3D437A ;
    padding: 20px 0;
}

header .logo{
    font-size: 23px;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
}

.mobile{
    display: none;
}

.clear{
    clear: both;
}

nav.desktop ul{
    list-style-type: none;/*Retira as bolinhas do lado dos textos */
    position: relative;
    top: 6px;

}

nav.desktop li{
    display: inline-block; /*Deixa os ícones alinhados um do lado do outro */
    padding:0 30px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: lighter;

}

nav.desktop a{
    color: white;
    text-decoration: none;
}

section.banner-container{
    width: 100%;
    height: 600px;
    /* background-image: url('../images/ney.jpg');
    background-size:cover;  */
    /* background-position-x: center; */
    position: relative;
    /* background-repeat: no-repeat;
    background-position-y: center; */
}

.banner-single{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1; 
    width: 100%;
    height: 100%;
    display: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(51,51,51,0.7);
    
}

section.banner-container form{
    width: 93%;
    max-width: 600px;
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

section.banner-container form h2{
    color: white;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
}

section.banner-container form input[type=email]{
    width: 100%;
    height: 66px;
    background:rgba(51,51,51,0.7);
    color: #333;
    font-size: 22px;
    padding-left: 10px;
    margin-top: 10px;
}

section.banner-container form input[type=submit]{
    width: 100%;
    height: 66px;
    background:#00C59E;
    color: white;
    font-size: 22px;
    padding-left: 10px;
    margin-top: 10px;
}

section.descricao-autor{
    padding: 30px 0;
}

section.descricao-autor h2{
    font-size: 25px;
    font-weight: 400;
}

section.descricao-autor p{
    text-align: justify;
    font-size: 16px;
    color: #444;
    margin-top: 40px;
}

section.especialidades{
    padding: 40px 0;
    background: #E2E2E2;
}

section.especialidades h2.title{
    font-size: 20px;
    font-weight: 400;
    color: #999;
    text-align: center;
}

.box-especialidade{
    margin: 40px 0;
    padding:  0 30px;
    text-align: center;
}

.box-especialidade h3{
    font-size: 40px;
    text-align: center;
    color: #404580;
}

.box-especialidade h4{
    color: #BABABA;
    font-weight: 300;
    font-size: 25px;
}

.box-especialidade p{
    color: #444;
    font-size: 15px;
    margin-top: 10px;
}

section.extras{
    padding: 30px 0;
    background: #404580 ;
}

.servicos-container,.depoimentos-container{
    padding: 0 50px;
    color: white;
}

section.extras .title{
    color: white;
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 15px;
}

.depoimento-single{
    padding: 15px 0;
    border-bottom: 1px solid #5066A0;
  
}

p.depoimento-descricao{
    font-size: 15px;
    color: white;
    font-weight: 300;
}

p.nome-autor{
    font-size: 15px;
    color: white;
    font-weight: bold;
    margin-top: 5px;
}

.servicos ul{
    margin: 20px 0;
}

.servicos li{
    margin-bottom: 15px;
}


footer{
    background: #313462;
    padding: 30px 0;
}

footer.fixed{
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
    color: white;
    text-align: center;
    font-weight: 400;
    font-weight: 16px;
}

body{
    overflow-x: hidden;
}

section.erro-404 h2{
    text-align: center;
    color: #444;
    font-weight: 400;
    font-size: 28px;
    border-top: 2px solid #444;
}

section.erro-404 p{
    margin-top: 8px;
    text-align: center;
    color: #444;
    font-weight: 400;
    font-size: 16px;

}

section.erro-404 a{
    color:#444;
}

.wraper-404{
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    max-width: 1280px;
    left: 50%;
    padding: 0 2%;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
}

#map{
    width: 100%;
    height: 400px;
}

.contato-container{
    padding: 40px 0;
    text-align: center;
}

.contato-container input[type=text]{
    margin: 8px 0;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    padding-left: 8px;
    font-size: 16px;
    color: #444;
    max-width: 500px;
}

.contato-container textarea{
    padding: 8px;
    margin: 8px 0;
    width: 100%;
    height: 120px;
    border: 1px solid #ccc;
    padding-left: 8px;
    font-size: 16px;
    color: #444;
    max-width: 500px;
    resize: none;
}

.contato-container input[type=submit]{
    background:#00C59E;
    width: 140px;
    height: 40px;
    color: white;
    cursor: pointer;
}

.bullets{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}

.bullets span{
    margin:0 10px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #222;
}

.bullets span.active-slider{
    background: white;
}


@media screen and (max-width: 768px){
    img{
        float: none !important;
        display: block;
        margin: 0 auto;
    }
    .w50{
        padding: 20px;
        width: 100%;
    }
    .w33{
        width: 100%;
        padding: 20px;
    }
    .box-especialidade{
        margin: 0;
        padding: 40px 20px;
    }
}

@media screen and (max-width:700px){
    nav.desktop{
        display: none;
    }

    nav.mobile{
        display: block;
        cursor: pointer;
        color: white;
    }

    .botao-menu-mobile{
        font-size: 24px;
    }

    nav.mobile ul{
        top: 55px;
        z-index: 3;
        position: absolute;
        display: none;
        left: 0;
        width: 100%;
        text-align: center;

    }

    nav.mobile li{
        font-weight: 300;
        width: 100%;
        display: block;
        background: white;
        border-bottom: 1px solid #ccc;
        font-size: 15px;
        padding: 8px,0;
    }

    nav.mobile li a{
        display: block;
        color: #444;
        text-decoration: none;
    }

}



