*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

html,body{
    height: 100%;
    background: rgb(225,225,225);
}


/* Página de login */
.box-login{
    box-shadow: 10px 10px 5px #88888888;
    max-width: 600px;
    width: 95%;
    padding: 80px 2%;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
}

.box-login h2
{
    text-align: center;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 10px 0;
    color: black;
}

.box-login input[type=text],
.box-login input[type=password]
{
    width: 100%;
    height: 40px;
    margin-top: 8px;
    border: 1px solid #ccc;
    padding-left: 8px;
}

.box-login input[type=submit]
{
    width: 100px;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 8px;
    background: #1de9b6;
    color: white;
    border: 0;
}

/* Box erro do painel */

.erro-box{
    width: 100%;
    padding: 8px 2%;
    text-align: center;
    background:rgb(194, 101, 101);
    color: white;
    font-size: 15px;

}

/* Fim página login */

/* Painel de controle */

.clear{clear:both}

.center{max-width: 1280px;padding:0 2%;margin: 0 auto;}

.menu{
    overflow-y: auto ;
    height: 100%;
    background: rgb(85, 0, 0);
    float: left;
    width: 300px;
}


header{
    float: left;
    padding: 10px 0;
    background:#ac1f1f;
    width: calc(100% - 300px);
}

.loggout{
    float: right;

}

.loggout a{
    color: white;
    font-size: 17px;
    text-decoration: none;
}

.logout a > span{
    font-size: 17px;
    text-decoration: none;
}

.menu-btn{
    float: left;
    cursor: pointer;
    font-size: 23px;
    color: white;
}

