*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    background: rgb(225,225,225);
}

.box-login{
    max-width: 600px;
    width: 95%;
    padding: 40px 2%;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
}