*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

html,body{
    overflow-x: hidden;
    height: 100%;
    background: rgb(225,225,225);
}



/* Página de login */
.box-login{
    box-shadow: 10px 10px 5px #88888888;
    max-width: 600px;
    width: 95%;
    padding: 80px 2%;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
}

.box-login h2
{
    text-align: center;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 10px 0;
    color: black;
}

.box-login input[type=text],
.box-login input[type=password]
{
    font-size: 16px;
    font-weight: normal;
    color: black;
    width: 100%;
    height: 40px;
    margin-top: 8px;
    border: 1px solid #ccc;
    padding-left: 8px;
}

.box-content form textarea{
    font-size: 16px;
    font-weight: normal;
    color: black;
    width: 100%;
    height: 150px;
    margin-top: 8px;
    border: 1px solid #ccc;
    padding: 8px;
    resize: vertical;
}

.box-login input[type=submit]
{
    width: 100px;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 8px;
    background: #1de9b6;
    color: white;
    border: 0;
}

/* Box erro do painel */

.erro-box{
    width: 100%;
    padding: 8px 2%;
    text-align: center;
    background:rgb(194, 101, 101);
    color: white;
    font-size: 15px;

}

/* Fim página login */

/* Painel de controle */

.clear{clear:both}

.center{max-width: 1280px;padding:0 2%;margin: 0 auto;}

header{
    position: relative;
    left: 300px;
    padding: 10px 0;
    background:#ac1f1f;
    width: calc(100% - 300px);
}

.loggout{
    float: right;

}

.loggout a{
    padding: 0 20px;
    position: relative;
    top: 4px;
    color: white;
    font-size: 17px;
    text-decoration: none;
}

.logout a > span{
    font-size: 17px;
    text-decoration: none;
}

.menu-btn{
    float: left;
    cursor: pointer;
    font-size: 23px;
    color: white;
}

.menu-wraper{
    width: 300px;
}
.menu{
    overflow-x: hidden;
    overflow-y: auto ;
    height: 100%;
    background: rgb(85, 0, 0);
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
    float: left;
    width: 300px;
}

.box-usuario{
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-items: center;
}

.avatar-usuario{
    text-align: left;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 3px solid #ca0f0f88;
    display: inline-block;
}

.imagem-usuario{
    width: 130px;
    height: 130px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    border: 3px solid #ca0f0f88;
}

.imagem-usuario img{
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.avatar-usuario i{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    font-size: 50px;
    color: #ccc;
}

.nome-usuario{
    text-align: center;
    margin-top: 10px;
}

.nome-usuario p{
    color: white;
    font-size: 14px;
    font-weight: 300;
}

/* Conteudo principal do painel */

.w100{
    width: 100%;
}

.w50{
    width: 49%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.content{
    width: calc(100% - 300px);
    position: relative;
    left: 300px;
    padding: 10px;
}

.box-content{
    background: white;
    padding: 30px;
    margin-bottom: 25px;
}

.box-content h2{
    font-weight: 300;
    font-size: 23px;
}

@media screen and (max-width: 768px){
    .menu{
        display: none;
        padding: 0;
        width: 0;
    }
    .content{
        width: 100%;
        left: 0;
    }
    header{
        left: 0;
        width: 100%;
    }
}

@media screen and (max-width: 400px){
    .menu-wraper{
        width: 200px;
    }
}

.items-menu{
    margin-top: 30px;
}

.items-menu h2{
    text-align: left;
    font-weight: 300;
    font-size: 18px;
    background: #460000;
    color: white;
    padding: 8px;
}

.items-menu a{
    display: block;
    padding: 8px;
    font-weight: 300px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid #703737;
}

/* Box Metricas */

.box-metricas{
    margin-top: 16px;
    padding: 0 15px;
}

.box-metrica-single{
    float: left;
    position: relative;
    width: 33.3%;
    background: #F4B03E;
    border: 5px solid white;
}

.box-metricas .box-metrica-single:nth-of-type(2){
    background: #E05C4E
}

.box-metricas .box-metrica-single:nth-of-type(3){
    background: #42be67
}

.box-metrica-wraper{
    padding: 10px 20px;
    text-align: left;
    color: white;
}

.box-metrica-wraper h2{
    font-size: 28px;
}

.box-metrica-wraper p {
    padding: 10px 0;
    font-size: 26px;
}

/* Tabela responsiva */

.table-responsive{
    margin: 20px auto;
    max-width: 1280px;
}

.table-responsive .row:nth-of-type(1){
    font-weight: bold;
    border-bottom: 1px solid #333;
}

.table-responsive .row{

    color: #777;
    padding: 8px 0;
}

.col{
    float: left;
    width: 50%;
}



/* Formulário de edição */

.box-content form{
    margin: 30px 0;
}

.box-content form label{
    font-size: 17px;
    font-weight: 300;
    color: black;
    display: block;
    margin-top: 0 10px;
}

.box-content .form-group{
    margin: 15px 0;
}

.box-content form input[type=submit]{
    width: 100px;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 8px;
    background: #1de9b6;
    color: white;
    border: 0;
}

.box-content form input[type=text],
.box-content form input[type=password]
{
    font-size: 16px;
    font-weight: normal;
    color: black;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    padding-left: 8px;
}

.box-content form input[type=file]{
    border: 1px solid #ccc;
    padding: 8px;
}

.box-content form select{
    font-size: 16px;
    font-weight: normal;
    color: black;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    padding-left: 8px;
}


/* Box de alerta! */

.box-alert{
    padding: 8px 0;
    text-align: center;
    width: 100%;
    height: 40px;
}


.sucesso{
    background: #1de9b6;
    color: white;
}

.erro{
    background:rgb(194, 101, 101);
    color: white;
}

/* Menu selecionado */

.menu-active{
    background: rgb(112, 29, 26);
}

.menu-active::before{
    /* 
    Adicionar seta para quando tiver selecionado 
    */
    /* content: '> '; */
}


.form-group-login label{
    font-size: 13px;
    font-weight: 300;
    color: black;
    padding-right: 10px;
}

form .form-group-login:nth-of-type(2){
    position: relative;
    top: 10px;
}



@media screen and (max-width: 1200px){
    .box-metrica-single{
        width: 100%;
        height: auto;
    }
}


@media screen and (max-width: 1024px){
    .box-metrica-single{
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    .content{
        width: 100%;
        left: 0;
    }

    header{
        left: 0;
        width: 100%;
    }
}

@media screen and (max-width: 500px){
    .w50{
        width: 100%;
    }
    .box-metrica-single{
        width: 100%;
        padding-top: 40%;
    }
}

@media screen and (max-width: 400px){
    .menu-wraper{
        width: 200px;
    }
}